@model EFcodefirstinCoreMVC.Models.Product
<div class="row">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Product Detail</h2>
            <hr />
        </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.ImageUrl"  class="img-fluid"/>
            @*    //@Html.DisplayFor(model => model.ImageUrl)*@
            </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
        <div class="w-30 btn-group" role="group">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success my-2"><i class="bi bi-pencil-square"></i>Edit</a>
        </div>
        <div class="w-30 btn-group" role="group">
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">BacktoList</a>
        </div>
</div>
</div>
